<% for (let index = 0; index < notas.length; index++) { %>
<div class="abrirNuevo dropdown">
  <h2><%= notas[index].titulo %></h2>
  <p><%= notas[index].textarea %></p>
  <ul>
    <li>
      <ul class="dropdownContenido">
        <a href="/notas/detalle/<%= notas[index].id %>">
          <li class="dropdownLi">Detalle</li>
        </a>
        <a href="/notas/editarNota/<%= notas[index].id %>">
          <li class="dropdownLi">Editar</li>
        </a>
        <form action="/notas/borrar/<%= notas[index].id %>" method="post">
          <li class="dropdownLi">
            <input type="submit" value="Borrar" class="dropdownLi"/>
          </li>
        </form>
      </ul>
    </li>
  </ul>
</div>
<% } %>
