<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <div class="centro contenedorDetalle">
      <a href="/" class="home detalleNota">
        <i class="fas fa-home fa-2x"></i>
      </a>
      <h1 class="detalleNota">Detalle de la nota '<%= notas.titulo %>'</h1>
      <h4 class="detalleNota">Creada el '<%= notas.creacion %>'</h4>

      <div id="guardada">
        <div class="abrirNuevo">
          <h2>
            <%= notas.titulo %>
          </h2>
          <p>
            <%= notas.textarea %>
          </p>
        </div>
        <a href="/notas/formularioNota">
          <button class="btn-1">
            <i class="fas fa-pencil fa-2x">
            </i>
          </button>
        </a>
      </div>
    </div>
<%- include('../partials/footer') %>
</body>

</html>