<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <div class="centro contenedorDetalle">
      <a href="/notas" class="home detalleNota">
        <i class="fas fa-home fa-2x"></i>
      </a>
      <h2 class="detalleNota">Detalle de la nota '<%= notas.titulo %>'</h2>
      <h4 class="detalleNota">Creada el '<%= notas.creacion %>'</h>

      <div id="guardada">
        <p class="detalleNota">Contenido:</p>
          <p class="detalleNota">
            <%= notas.textarea %>
          </p>
      </div>
        <a href="/notas/formularioNota">
          <button class="btn-1">
            <i class="fas fa-pencil fa-2x">
            </i>
          </button>
        </a>
      </div>
    </div>
<%- include('../partials/footer') %>
</body>

</html>